<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>편의점 비교</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<header class="top-bar">
    <div class="logo-and-menu">
        <span class="title">편의점 비교왕</span>
        <nav class="menu">
            <a href="#"><img src="images/cu-logo.png" alt="CU 로고" class="logo-img"></a>
            <span>|</span>
            <a href="#"><img src="images/gs25-logo.png" alt="GS25 로고" class="logo-img"></a>
            <span>|</span>
            <a href="#"><img src="images/7eleven-logo.png" alt="7-ELEVEN 로고" class="logo-img seven-eleven"></a>
        </nav>
    </div>
    <div class="search-and-login">
        <div class="search-bar">
            <input type="text" placeholder="검색어를 입력하세요." />
            <button>🔍</button>
        </div>
        <button class="login-btn" onclick="location.href='/member/save'">회원가입</button>
        <button class="login-btn" onclick="location.href='/member/login'">로그인</button>
    </div>
</header>
</body>
</html>