<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mainpage</title>
    <link rel="stylesheet" href="../css/mainpage.css">

</head>
<body>
<header class="top-bar">
    <div class="logo-and-menu">
        <span class="title">편의점 비교왕</span>
        <nav class="menu">
            <a href="#"><img src="../img/CU(씨유)로고1 1.svg" alt="CU 로고" class="logo-img"></a>
            <span>|</span>
            <a href="#"><img src="../img/gs25_logo 1.svg" alt="GS25 로고" class="logo-img"></a>
            <span>|</span>
            <a href="#"><img src="../img/1008_bg_af_웰텍스 1.svg" alt="7-ELEVEN 로고" class="logo-img seven-eleven"></a>
        </nav>
    </div>
    <div class="search-and-login">
        <div class="search-bar">
            <input type="text" placeholder="검색어를 입력하세요." />
            <button>🔍</button>
        </div>
        <button class="login-btn" onclick="location.href='/member/save'">회원가입</button>
        <button class="login-btn" onclick="location.href='/member/login'">로그인</button>

    </div>
</header>




<div class="main-img">           <!-- 배너   -->
    <img src="../img/banner.svg" id="banner">
</div>




<!-- 아이콘----------------------------------------------------------------------------------------------------------------------- -->
<div class="icons">
    <ul id="icon-lines">
        <li>
            <div class="block">
                <ul>
                    <li>
                        <img src="../img/Rectangle 49.svg">
                    </li>
                    <li>
                        <p>상품명</p>
                    </li>
                </ul>
            </div>
            <div class="block">
                <ul>
                    <li>
                        <img src="../img/Rectangle 49.svg">
                    </li>
                    <li>
                        <p>상품명</p>
                    </li>
                </ul>
            </div>
            <div class="block">
                <ul>
                    <li>
                        <img src="../img/Rectangle 49.svg">
                    </li>
                    <li>
                        <p>상품명</p>
                    </li>
                </ul>
            </div>
            <div class="block">
                <ul>
                    <li>
                        <img src="../img/Rectangle 49.svg">
                    </li>
                    <li>
                        <p>상품명</p>
                    </li>
                </ul>
            </div>
            <div class="block">
                <ul>
                    <li>
                        <img src="../img/Rectangle 49.svg">
                    </li>
                    <li>
                        <p>상품명</p>
                    </li>
                </ul>
            </div>
            <div class="block">
                <ul>
                    <li>
                        <img src="../img/Rectangle 49.svg">
                    </li>
                    <li>
                        <p>상품명</p>
                    </li>
                </ul>
            </div>
            <div class="block">
                <ul>
                    <li>
                        <img src="../img/Rectangle 49.svg">
                    </li>
                    <li>
                        <p>상품명</p>
                    </li>
                </ul>
            </div>
            <div class="block">
                <ul>
                    <li>
                        <img src="../img/Rectangle 49.svg">
                    </li>
                    <li>
                        <p>상품명</p>
                    </li>
                </ul>
            </div>
        </li>
        <li>                 <!-- 둘째줄---------------------------------------- -->
            <div class="block">
                <ul>
                    <li>
                        <img src="../img/Rectangle 49.svg">
                    </li>
                    <li>
                        <p>상품명</p>
                    </li>
                </ul>
            </div>
            <div class="block">
                <ul>
                    <li>
                        <img src="../img/Rectangle 49.svg">
                    </li>
                    <li>
                        <p>상품명</p>
                    </li>
                </ul>
            </div>
            <div class="block">
                <ul>
                    <li>
                        <img src="../img/Rectangle 49.svg">
                    </li>
                    <li>
                        <p>상품명</p>
                    </li>
                </ul>
            </div>
            <div class="block">
                <ul>
                    <li>
                        <img src="../img/Rectangle 49.svg">
                    </li>
                    <li>
                        <p>상품명</p>
                    </li>
                </ul>
            </div>
            <div class="block">
                <ul>
                    <li>
                        <img src="../img/Rectangle 49.svg">
                    </li>
                    <li>
                        <p>상품명</p>
                    </li>
                </ul>
            </div>
            <div class="block">
                <ul>
                    <li>
                        <img src="../img/Rectangle 49.svg">
                    </li>
                    <li>
                        <p>상품명</p>
                    </li>
                </ul>
            </div>
            <div class="block">
                <ul>
                    <li>
                        <img src="../img/Rectangle 49.svg">
                    </li>
                    <li>
                        <p>상품명</p>
                    </li>
                </ul>
            </div>
            <div class="block">
                <ul>
                    <li>
                        <img src="../img/Rectangle 49.svg">
                    </li>
                    <li>
                        <p>상품명</p>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="block">
                <ul>
                    <li>
                        <img src="../img/Rectangle 49.svg">
                    </li>
                    <li>
                        <p>상품명</p>
                    </li>
                </ul>
            </div>
            <div class="block">
                <ul>
                    <li>
                        <img src="../img/Rectangle 49.svg">
                    </li>
                    <li>
                        <p>상품명</p>
                    </li>
                </ul>
            </div>
            <div class="block">
                <ul>
                    <li>
                        <img src="../img/Rectangle 49.svg">
                    </li>
                    <li>
                        <p>상품명</p>
                    </li>
                </ul>
            </div>
            <div class="block">
                <ul>
                    <li>
                        <img src="../img/Rectangle 49.svg">
                    </li>
                    <li>
                        <p>상품명</p>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div><!---------------------------------------------------------------------------------------------------------------------- -->
<br>






<!-- 1+1이벤트 페이지 표를 통해 구현하기 시작점점----------------------------------------------------------- -->
<div class="event-div">
    <p id="event"><strong>1+1할인행사</strong><span id="right-side">전체보기+</span></p>
    <div class="event-table">
        <table id="event-img">
            <tr>
                <td>
                    <ul>
                        <li>
                            <img src="../img/원플원 상품이미지.png">
                        </li>
                        <li>
                            <p class="names">3사 이름</p>
                        </li>
                        <li><p>제품명</p></li>
                        <li><p><span class="_1">가격</span>원<small class="small-1">1개당 n원</small></p></li>  <!--innerhtml이용해서 js로 넣기-->
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>
                            <img src="../img/원플원 상품이미지.png">
                        </li>
                        <li>
                            <p class="names">3사 이름</p>
                        </li>
                        <li><p>제품명</p></li>
                        <li><p><span class="_1">가격</span>원<small class="small-1">1개당 n원</small></p></li>  <!--innerhtml이용해서 js로 넣기-->
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>
                            <img src="../img/원플원 상품이미지.png">
                        </li>
                        <li>
                            <p class="names">3사 이름</p>
                        </li>
                        <li><p>제품명</p></li>
                        <li><p><span class="_1">가격</span>원<small class="small-1">1개당 n원</small></p></li>  <!--innerhtml이용해서 js로 넣기-->
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>
                            <img src="../img/원플원 상품이미지.png">
                        </li>
                        <li>
                            <p class="names">3사 이름</p>
                        </li>
                        <li><p>제품명</p></li>
                        <li><p><span class="_1">가격</span>원<small class="small-1">1개당 n원</small></p></li>  <!--innerhtml이용해서 js로 넣기-->
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>
                            <img src="../img/원플원 상품이미지.png">
                        </li>
                        <li>
                            <p class="names">3사 이름</p>
                        </li>
                        <li><p>제품명</p></li>
                        <li><p><span class="_1">가격</span>원<small class="small-1">1개당 n원</small></p></li>  <!--innerhtml이용해서 js로 넣기-->
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>
                            <img src="../img/원플원 상품이미지.png">
                        </li>
                        <li>
                            <p class="names">3사 이름</p>
                        </li>
                        <li><p>제품명</p></li>
                        <li><p><span class="_1">가격</span>원<small class="small-1">1개당 n원</small></p></li>  <!--innerhtml이용해서 js로 넣기-->
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>
                            <img src="../img/원플원 상품이미지.png">
                        </li>
                        <li>
                            <p class="names">3사 이름</p>
                        </li>
                        <li><p>제품명</p></li>
                        <li><p><span class="_1">가격</span>원<small class="small-1">1개당 n원</small></p></li>  <!--innerhtml이용해서 js로 넣기-->
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>
                            <img src="../img/원플원 상품이미지.png">
                        </li>
                        <li>
                            <p class="names">3사 이름</p>
                        </li>
                        <li><p>제품명</p></li>
                        <li><p><span class="_1">가격</span>원<small class="small-1">1개당 n원</small></p></li>  <!--innerhtml이용해서 js로 넣기-->
                    </ul>
                </td>
            </tr>
        </table>

    </div><!--event-table >>이벤트 표 div-->
</div> <!--event-div 이벤트를 다루는 가장 큰 div-->
<!-- 1+1이벤트 페이지 표를 통해 구현하기 시작점점 ------------------------------------------------->



<!-- 사이드바-->
<div id="sidebar">
    <aside>
        <p>인기 상품순위</p>
        <p id="small-font-date"><span id="date"></span>기준</p> <!--폰트 조절 필요. js로 innerhtml-->
        <hr id="orange-hr" color="orange">

        <!-- 사이드바 내부 내용 -->
        <div class="sidebar-content">
            <!-- 왼쪽: 이미지 영역 -->
            <div class="left-image">
                <img src="../img/원플원 상품이미지.png" alt="이미지" />
            </div>

            <!-- 오른쪽: 텍스트 5줄 -->
            <div class="right-text">
                <p> 1상품명명</p>
                <p>텍스트 2</p>
                <p>텍스트 3</p>
                <p>텍스트 4</p>
                <p>텍스트 5</p>
            </div>
        </div>
        <div class="sidebar-content">
            <!-- 왼쪽: 이미지 영역 -->
            <div class="left-image">
                <img src="../img/원플원 상품이미지.png" alt="이미지" />
            </div>

            <!-- 오른쪽: 텍스트 5줄 -->
            <div class="right-text">
                <p> 1상품명명</p>
                <p>텍스트 2</p>
                <p>텍스트 3</p>
                <p>텍스트 4</p>
                <p>텍스트 5</p>
            </div>
        </div>
        <div class="sidebar-content">
            <!-- 왼쪽: 이미지 영역 -->
            <div class="left-image">
                <img src="../img/원플원 상품이미지.png" alt="이미지" />
            </div>

            <!-- 오른쪽: 텍스트 5줄 -->
            <div class="right-text">
                <p> 1상품명명</p>
                <p>텍스트 2</p>
                <p>텍스트 3</p>
                <p>텍스트 4</p>
                <p>텍스트 5</p>
            </div>
        </div>
        <div class="sidebar-content">
            <!-- 왼쪽: 이미지 영역 -->
            <div class="left-image">
                <img src="../img/원플원 상품이미지.png" alt="이미지" />
            </div>

            <!-- 오른쪽: 텍스트 5줄 -->
            <div class="right-text">
                <p> 1상품명명</p>
                <p>텍스트 2</p>
                <p>텍스트 3</p>
                <p>텍스트 4</p>
                <p>텍스트 5</p>
            </div>
        </div>
        <div class="sidebar-content">
            <!-- 왼쪽: 이미지 영역 -->
            <div class="left-image">
                <img src="../img/원플원 상품이미지.png" alt="이미지" />
            </div>

            <!-- 오른쪽: 텍스트 5줄 -->
            <div class="right-text">
                <p> 1상품명명</p>
                <p>텍스트 2</p>
                <p>텍스트 3</p>
                <p>텍스트 4</p>
                <p>텍스트 5</p>
            </div>
        </div>
        <div class="sidebar-content">
            <!-- 왼쪽: 이미지 영역 -->
            <div class="left-image">
                <img src="../img/원플원 상품이미지.png" alt="이미지" />
            </div>

            <!-- 오른쪽: 텍스트 5줄 -->
            <div class="right-text">
                <p> 1상품명명</p>
                <p>텍스트 2</p>
                <p>텍스트 3</p>
                <p>텍스트 4</p>
                <p>텍스트 5</p>
            </div>
        </div>
        <div class="sidebar-content">
            <!-- 왼쪽: 이미지 영역 -->
            <div class="left-image">
                <img src="../img/원플원 상품이미지.png" alt="이미지" />
            </div>

            <!-- 오른쪽: 텍스트 5줄 -->
            <div class="right-text">
                <p> 1상품명명</p>
                <p>텍스트 2</p>
                <p>텍스트 3</p>
                <p>텍스트 4</p>
                <p>텍스트 5</p>
            </div>
        </div>
        <div class="sidebar-content">
            <!-- 왼쪽: 이미지 영역 -->
            <div class="left-image">
                <img src="../img/원플원 상품이미지.png" alt="이미지" />
            </div>

            <!-- 오른쪽: 텍스트 5줄 -->
            <div class="right-text">
                <p> 1상품명명</p>
                <p>텍스트 2</p>
                <p>텍스트 3</p>
                <p>텍스트 4</p>
                <p>텍스트 5</p>
            </div>
        </div>
        <div class="sidebar-content">
            <!-- 왼쪽: 이미지 영역 -->
            <div class="left-image">
                <img src="../img/원플원 상품이미지.png" alt="이미지" />
            </div>

            <!-- 오른쪽: 텍스트 5줄 -->
            <div class="right-text">
                <p> 1상품명명</p>
                <p>텍스트 2</p>
                <p>텍스트 3</p>
                <p>텍스트 4</p>
                <p>텍스트 5</p>
            </div>
        </div>
        <div class="sidebar-content">
            <!-- 왼쪽: 이미지 영역 -->
            <div class="left-image">
                <img src="../img/원플원 상품이미지.png" alt="이미지" />
            </div>

            <!-- 오른쪽: 텍스트 5줄 -->
            <div class="right-text">
                <p> 1상품명명</p>
                <p>텍스트 2</p>
                <p>텍스트 3</p>
                <p>텍스트 4</p>
                <p>텍스트 5</p>
            </div>
        </div>
        <br>
        <div class="view-all">
            <img src="../img/전체보기.svg" id="view-all">
        </div>
        <!--그림자 넣기-->
    </aside>
</div>
<script src="../js/mainpage-date.js"></script>
</body>
</html>
